@media screen and (min-width: 481px){
    html{
        text-align: center;
    }
    img{
        width:100%;
        height:auto;
    }
    .menu{
        align-items: center;
    }
    .menubar{
        margin: 0 auto;
    }
    table{
        width: 100%;
    }
    .t1{
        align-items: center;
    }
    .twitter{
        width: 600px;
        margin: 0 auto;
        display: flex;
    }
}
@media screen and (max-width: 480px) {
    html{
        text-align: center;
    }
    img{
        width:100%;
        height:auto;
    }
    .menu{
        align-items: center;
    }
    .menubar{
        margin: 0 auto;
    }
    table{
        width: 100%;
    }
    .twitter-timeline{
        width: 50%;
    }
}
