@media screen and (min-width: 481px){
    .honbun{
        font-size: larger;
    }
    .tirashi{
        width:30%;
        margin: 0 auto;
        display: flex;
    }
}
@media screen and (max-width: 480px) {
    .title{
        background-color:#fc8819;
    }
    .honbun{
        font-size: larger;
    }
}