@media screen and (min-width: 961px)
{
    html{
        text-align: center;
        color:#4d3217;
        font-family:"Avenir New";
    }
    img{
        width:100%;
        height:auto;
    }
    a{
        color:#4d3217;
    }
    .menu{
        z-index: 4;
        position: sticky;
        top:0px;
    }
    .dengeki{
        display: flex;
        margin: auto;
    }
    .m1{
        width:80%;
    }
    .m1-3{
        width: 100%;
        margin: 0 auto;
    }
    .t1{
        width: 20%;
        align-items: center;
    }
    .twitter{
        width: 300px;
        margin: 0 auto;
    }
    .twitter-timeline{
        width: 300px;
    }
    .gnavi__lists1{
        display: flex;
        width: 100%;
    }
    .coming_soon{
        background-color: #fc8819;
    }
    .title{
        background-color:#fc8819 ;
    }
}
@media screen and (max-width: 960px) {
    html{
        color:#4d3217;
        text-align: center;
        font-family:"Avenir New";
    }
    img{
        width:100%;
        height:auto;
    }
    a{
        color:#4d3217;
    }
    .menu{
        z-index: 3;
        position: sticky;
        top:0px;
    }
    .t1{
        margin:auto;
        align-items: center;
    }
    .title{
        background-color:#fc8819 ;
    }
    .twitter-timeline{
        width: 300px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 960px) {
    html{
        color:#4d3217;
        text-align: center;
        font-family:"Avenir New";
    }
    img{
        width:100%;
        height:auto;
    }
    a{
        color:#4d3217;
    }
    .menu{
        z-index: 3;
        position: sticky;
        top:0px;
    }
    .t1{
        align-items: center;
    }
    .title{
        background-color:#fc8819 ;
    }
    .twitter-timeline{
        width: 85%;
        margin: 0 auto;
    }
}
