@media screen and (min-width: 961px)
{
    html{
        text-align: center;
        color:#4d3217;
        font-family:"Avenir New";
    }
    ul{
        list-style: none;
        padding: 0;
        margin:0;
        border: 0;
    }
    a{
        color:#4d3217;
    }
    .gnavi__wrap {
        z-index: 1;
        position: sticky;
        top:0px;
        width: 100%;
        margin: 0 auto;
    }
    .gnavi__lists {
        display: flex;
    }
    .gnavi__list {
        width: 20%;
        height: 60px;
        border-top: 2px solid #4d3217;
        border-bottom: 2px solid #4d3217;
        border-right: 1px solid #4d3217;
        border-left: 1px solid #4d3217;
        background-color:#fc8819;
        position: relative;
        transition: all .3s;
    }
    .gnavi__list:hover {
        background-color: #4d3217;
        border: 2px solid #fc8819;
    }
    .gnavi__list:not(:first-child)::before {
        content: "";
        width: 1px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all .3s;
    }
    .gnavi__list:hover::before {
        background-color: #4d3217;
    }
    .gnavi__list a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #4d3217;
        font-size: 15px;
        letter-spacing: 0.05em;
        font-weight: 600;
        transition: all .3s;
    }
    .gnavi__list:hover a {
        color: #fc8819;
    }
    .dropdown__lists {
        transform: scaleY(0);/*デフォルトでは非表示の状態にしておく*/
        transform-origin: center top;/*変形を適応する基準をtopとする*/
        transition: all .3s;/*表示の変化を0.3秒に指定*/
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
    }
    .gnavi__list:hover .dropdown__lists {
        transform: scaleY(1);/*Gナビメニューにホバーしたら表示*/
    }
    .dropdown__list {
        background-color:#4d3217;
        /*border-top: 1px solid #fc8819;
        border-bottom: 1px solid #fc8819;
        border-right: 2px solid #fc8819;
        border-left: 2px solid #fc8819;*/
        height: 60px;
        transition: all .3s;
        position: relative;
    }
    .dropdown__list:not(:first-child)::before{
        content: "";
        width: 100%;
        height: 1px;
        background-color:#fc8819;
        position: absolute;
        top: 0;
        left: 0;
    }
    .dropdown__list:hover a {
        color:#4d3217;
    }
    .dropdown__list:hover {
        background-color: #fc8819;
    }
    .dropdown__list a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        text-decoration: none;
        position: relative;
    }
    .dropdown__list a::before {
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        border-top: 2px solid #fff;
        border-left: 2px solid #fff;
        transform: rotate(135deg);
        position: absolute;
        right: 15px;
        top: calc(50% - 5px);
    }
}
@media screen and (max-width: 960px) {
    html{
        color:#4d3217;
        text-align: center;
        font-family:"Avenir New";
    }
    ul{
        list-style: none;
        padding: 0;
    }
    .gnavi__wrap {
        z-index: 3;
        position: sticky;
        top:0px;
        width: 100%;
        margin: 0 auto;
    }
    .gnavi__lists {
        display: flex;
    }
    .gnavi__list {
        width: 20%;
        height: 60px;
        border-top: 2px solid #4d3217;
        border-bottom: 2px solid #4d3217;
        border-right: 1px solid #4d3217;
        border-left: 1px solid #4d3217;
        background-color:#fc8819;
        position: relative;
        transition: all .3s;
    }
    .gnavi__list:hover {
        background-color: #4d3217;
        border: 2px solid #fc8819;
    }
    .gnavi__list:not(:first-child)::before {
        content: "";
        width: 1px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all .3s;
    }
    .gnavi__list:hover::before {
        background-color: #4d3217;
    }
    .gnavi__list a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #4d3217;
        font-size: 15px;
        letter-spacing: 0.05em;
        font-weight: 600;
        transition: all .3s;
    }
    .gnavi__list:hover a {
        color: #fc8819;
    }
    .dropdown__lists {
        transform: scaleY(0);/*デフォルトでは非表示の状態にしておく*/
        transform-origin: center top;/*変形を適応する基準をtopとする*/
        transition: all .3s;/*表示の変化を0.3秒に指定*/
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
    }
    .gnavi__list:hover .dropdown__lists {
        transform: scaleY(1);/*Gナビメニューにホバーしたら表示*/
    }
    .dropdown__list {
        background-color:#4d3217;
        /*border-top: 1px solid #fc8819;
        border-bottom: 1px solid #fc8819;
        border-right: 2px solid #fc8819;
        border-left: 2px solid #fc8819;*/
        height: 60px;
        transition: all .3s;
        position: relative;
    }
    .dropdown__list:not(:first-child)::before{
        content: "";
        width: 100%;
        height: 1px;
        background-color:#fc8819;
        position: absolute;
        top: 0;
        left: 0;
    }
    .dropdown__list:hover a {
        color:#4d3217;
    }
    .dropdown__list:hover {
        background-color: #fc8819;
    }
    .dropdown__list a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        text-decoration: none;
        position: relative;
    }
    .dropdown__list a::before {
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        border-top: 2px solid #fff;
        border-left: 2px solid #fff;
        transform: rotate(135deg);
        position: absolute;
        right: 15px;
        top: calc(50% - 5px);
    }
}
@media screen and (max-width: 960px) {
    html{
        color:#4d3217;
        text-align: center;
        font-family:"Avenir New";
    }
    ul{
        list-style: none;
        padding: 0;
    }
    .gnavi__wrap {
        z-index: 3;
        position: sticky;
        top:0px;
        width: 100%;
        margin: 0 auto;
    }
    .gnavi__lists {
        display: flex;
    }
    .gnavi__list {
        width: 20%;
        height: 60px;
        border-top: 2px solid #4d3217;
        border-bottom: 2px solid #4d3217;
        border-right: 1px solid #4d3217;
        border-left: 1px solid #4d3217;
        background-color:#fc8819;
        position: relative;
        /*transition: all .3s;*/
    }
    .dropdown__list {
        display: none;
    }
}
